#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	mealBaseDir: %appDir%/../cache
	placesFile: %appDir%/config/places/places.neon

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	places: App\Services\Places('%placesFile%')
	mealMenu: App\Services\MealMenu('%mealBaseDir%')

tracy:
	maxDepth: 10
